<head>
  <script>
$(document).ready(function() {
    $("#player_name").on("blur", function() {
        var valid = true;
            $.ajax({
                url: "/players.json",
                success: function(data) {
                    for(i=0; i < data.length; i++) {
                        if (data[i].name == $("#player_name").val()) {
                            $("#name_error").show();
                            valid = false
                            break;
                        }
                    }
                    if (valid) {
                        $("#name_error").hide();
                    }
                }
            });
        });
    });        
    </script>
</head>
<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :riotID %><br>
      <%= f.text_field :riotID %>
  </div>
  <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
      <p id="name_error" class="bg-danger">This name already exists</p>
  </div>
  <div class="field">
      <%= f.label :league %><br>
      <%= f.select :league, options_for_select(League.all.map{|w|[w.name, w.id]}) %>
  </div>
  <div class="actions">
    <%= f.label :updatePlayer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
