<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :riotID %><br>
    <%= f.text_field :riotID %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :k %><br>
    <%= f.number_field :k %>
  </div>
  <div class="field">
    <%= f.label :d %><br>
    <%= f.number_field :d %>
  </div>
  <div class="field">
    <%= f.label :a %><br>
    <%= f.number_field :a %>
  </div>
  <div class="field">
    <%= f.label :cs %><br>
    <%= f.number_field :cs %>
  </div>
  <div class="field">
    <%= f.label :triple %><br>
    <%= f.number_field :triple %>
  </div>
  <div class="field">
    <%= f.label :quadra %><br>
    <%= f.number_field :quadra %>
  </div>
  <div class="field">
    <%= f.label :penta %><br>
    <%= f.number_field :penta %>
  </div>
  <div class="field">
    <%= f.label :towers %><br>
    <%= f.number_field :towers %>
  </div>
  <div class="field">
    <%= f.label :inhibs %><br>
    <%= f.number_field :inhibs %>
  </div>
  <div class="field">
    <%= f.label :dragon %><br>
    <%= f.number_field :dragon %>
  </div>
  <div class="field">
    <%= f.label :baron %><br>
    <%= f.number_field :baron %>
  </div>
  <div class="actions">
      <%= f.label :updatePlayer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
