<p id="notice"><%= notice %></p>

<p>
  <strong>Riotid:</strong>
  <%= @player.riotID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @player.score %>
</p>

<p>
  <strong>K:</strong>
  <%= @player.k %>
</p>

<p>
  <strong>D:</strong>
  <%= @player.d %>
</p>

<p>
  <strong>A:</strong>
  <%= @player.a %>
</p>



<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
